.accordion {
  &-item {
    &:not(:last-child) {
      border-bottom: 0.1rem solid #dedede;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
    }
    .accordion-button {
      font-size: 2rem;
      font-weight: 500;
      background: none;
      border: none;
      padding: 0;
      &.collapsed {
        span.icon-toggle {
          transform: none;
        }
      }
      span.icon-toggle {
        transform: rotate(-45deg);
        font-size: 4rem;
        transition: all 0.4s ease;
      }
    }
    .accordion-body {
      color: #444;
      padding: 2rem 2rem 1rem;
      h2,
      h3,
      h4,
      h5 {
        margin: 2rem 0 1rem;
      }
      strong {
        font-weight: 600;
      }
      ul {
        margin: 1.5rem 0 3rem 2rem;
        list-style: disc;
        li {
          &:not(:last-child) {
            margin-bottom: 0.3rem;
          }
        }
      }
    }
  }
}
