.btn {
  border: none;
  padding: 1.4rem 2.8rem;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  color: $white;
  &-primary {
    background: #1f4b97;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &-secondary {
    background: #3f80b4;
    color: $white;
    &:hover {
      background: #03041c !important;
      color: $white;
    }
  }
  &-transparent {
    border: 1px solid #cbcbcb;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    display: inline-block;
    font-size: 1.6rem;
    &:hover {
      background: $secondary;
      color: $white;
      border-color: $secondary;
    }
  }
}
