@font-face {
  font-family: 'Tiempos Fine';
  src: url('#{$font-path}/TiemposFine-Black.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: url('#{$font-path}/TiemposFine-Bold.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: url('#{$font-path}/TiemposFine-Semibold.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: url('#{$font-path}/TiemposFine-Medium.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: url('#{$font-path}/TiemposFine-Regular.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Fine';
  src: url('#{$font-path}/TiemposFine-Light.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('#{$font-path}/BasierCircle-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('#{$font-path}/BasierCircle-SemiBold.woff2') format('woff2');
  src: url('#{$font-path}/BasierCircle-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('#{$font-path}/BasierCircle-Medium.woff2') format('woff2');
  src: url('#{$font-path}/BasierCircle-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('#{$font-path}/BasierCircle-Regular.woff2') format('woff2');
  src: url('#{$font-path}/BasierCircle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('#{$font-path}/TiemposFine-Light.woff2') format('woff2');
  src: url('#{$font-path}/TiemposFine-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
