.#{$global} {
  &-app {
    min-height: 100vh;
  }

  &-wrap {
    flex: 1 0 auto;
  }

  &-main {
    background-color: $white;
    overflow-x: hidden;

    @include media-breakpoint-down(md) {
      min-height: auto;
      height: 100%;
    }
  }
}
