html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  font-size: 10px;
  position: relative;
}
body {
  letter-spacing: normal;
  @include font-smoothing(on);

  font-family: Inter, sans-serif;
  &.prevent-scrolling {
    @extend .overflow-hidden, .position-fixed, .w-100;

    top: auto;
  }
}
a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}
a,
button,
.btn {
  @extend .transition-fast;
}
p {
  margin-bottom: 2.2rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
b,
strong {
  font-weight: $font-weight-bold;
}
figure {
  margin-bottom: 0;
}
img {
  @extend .mw-100;
}
button,
.btn,
.btn-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    outline: none;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 13rem $white inset !important;
}

/* purgecss start ignore */
div[id^='__lpform_'] {
  display: none;
}

iframe {
  display: block;
}

.section-search-content {
  article {
    &:not(:last-child) {
      padding-bottom: 15px;
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    }
    .author,
    time {
      font-size: 1.6rem;
      color: #675959;
    }
    span {
      color: #675959;
    }
  }
}
