.container {
  @include media-breakpoint-down(xl) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    .row {
      margin-right: -1.2rem;
      margin-left: -1.2rem;
      > .col,
      > [class*='col-'] {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    .row {
      margin-right: -0.8rem;
      margin-left: -0.8rem;
      > .col,
      > [class*='col-'] {
        padding-right: 0.8rem;
        padding-left: 0.8rem;
      }
    }
  }
}
