$icomoon-font-family: 'icons' !default;
$icomoon-font-path: './../../../fonts' !default;

$icon-add: '\e900';
$icon-arrow: '\e901';
$icon-behance: '\e902';
$icon-climate: '\e903';
$icon-close: '\e904';
$icon-discuss: '\e905';
$icon-double-forward: '\e906';
$icon-education: '\e907';
$icon-email: '\e908';
$icon-emotional-intelligence: '\e909';
$icon-facebook: '\e90a';
$icon-fellowships: '\e90b';
$icon-fitler: '\e90c';
$icon-five: '\e90d';
$icon-four: '\e90e';
$icon-home: '\e90f';
$icon-how-work: '\e910';
$icon-id-card: '\e911';
$icon-image: '\e912';
$icon-instagram: '\e913';
$icon-intrapreneurship: '\e914';
$icon-justice: '\e915';
$icon-linkedin: '\e916';
$icon-logo-fuse: '\e917';
$icon-map-fill: '\e918';
$icon-map-outline: '\e919';
$icon-media-kit: '\e91a';
$icon-microphone: '\e91b';
$icon-minus: '\e91c';
$icon-more: '\e91d';
$icon-one: '\e91e';
$icon-pause: '\e91f';
$icon-perseverence: '\e920';
$icon-play: '\e921';
$icon-public-health: '\e922';
$icon-quote-left: '\e923';
$icon-quote-right: '\e924';
$icon-recruitment: '\e925';
$icon-results: '\e926';
$icon-search: '\e927';
$icon-star: '\e928';
$icon-state: '\e929';
$icon-team: '\e92a';
$icon-three: '\e92b';
$icon-triangle-backward: '\e92c';
$icon-triangle-down: '\e92d';
$icon-triangle-forward: '\e92e';
$icon-triangle-outline-forward: '\e92f';
$icon-tumblr: '\e930';
$icon-twitter: '\e931';
$icon-two: '\e932';
$icon-video: '\e933';
$icon-vimeo: '\e934';
$icon-volume: '\e935';
$icon-why-works-1: '\e936';
$icon-youtube: '\e937';
